$serif: "EB Garamond", serif; // "Nanum Myeongjo", serif;
$sans: "Nanum Gothic", sans-serif;
// $tiraHeaderFont: "Gotham", sans-serif;
// $tiraHeaderFont: "Qanelas Soft", sans-serif;
$tiraHeaderFont: "Gilroy", sans-serif;
$tiraLogoLetterSpace: 0.1em;
// 로고는 weight 800, letter space
$tiraHeaderBlackFont: "Gotham Black", sans-serif;
$tiraLightFont: -apple-system, BlinkMacSystemFont, sans-serif;
$tiraGothicFont: "넥슨Lv2고딕 OTF", "넥슨Lv2고딕OTF", "nexon-lv2-gothic-otf";
$tiraGothicLetterSpace: -0.02em;
$mainTransition: cubic-bezier(0.51, 0.08, 0.03, 0.99);

$baseFontSize: 1.05em;
$tiraMainWhite: rgb(255, 248, 248);
$tiraMainDark: #333d66;
$tiraMainPk: #ffdbd7;
$tiraMainBl: #cedaff;

$tiraColor1: #fbe4e0;
$tiraColor2: #ffb3ab;
$tiraColor3: #825959;
$tiraColor4: #c5d4ff;
$tiraColor5: #87adff;
$tiraColor6: #7a7a96;

$tiraMainWhitePlus: rgb(255, 255, 255);
$tiraMainDarkPlus: #232b4c;
$tiraColor1Plus: #ffccc3;
$tiraColor2Plus: #f6a59d;
$tiraColor3Plus: #5a3737;
$tiraColor4Plus: #b3c7ff;
$tiraColor5Plus: #778bff;
$tiraColor6Plus: #686888;

$mainVerticalColor: rgb(196, 180, 180);
$elseVerticalColor: white;

$test: rgb(227, 216, 216);

$tiraColor1op: #fbe4e061;
$tiraColor2op: #ffbfb861;
$tiraColor3op: #6d474761;
$tiraColor4op: #c5d4ff61;
$tiraColor5op: #8c9dff61;
$tiraColor6op: #7a7a9661;
$lightBlue: #eff3ff;
$navColor: #cedaff;
// $navColor: rgb(255, 227, 225);

$boxShadow1: 0px 0px 15px 0px rgba(51, 39, 39, 0.3);
