h1 #{pageTitle}

div(style="width: 400px; height: 800px; background-color:wheat; ")
    form(style="display: flex; flex-direction: column;" method="POST")
        input(placeholder="PRESENT PASSWORD", name="presentPassword", type="password")
        input(placeholder="NEW PASSWORD", name="newPassword", type="password")
        input(placeholder="NEW PASSWORD CONFIRM", name="newPasswordConfirm", type="password")
        input(value="UPDATE PASSWORD", type="submit") 
        
        if errMsg 
            span=errMsg