extends ../layout
include ../mixins/flash-msg

block styles
    
block links
    link(rel="stylesheet", href="/static/css/shop.css")

block content
    if messages.error 
        +flashMsg("error", messages.error)
    if messages.info
        +flashMsg("info", messages.info)
    if messages.success
        +flashMsg("success", messages.success)
    .shop-section-container
        .product-section
            .product-individual-container-background
            .product-individual-container 
                .product-section-title 
                    span 단일 패키지 구매
                    span 티라미수 1 Pound / 브랜드카드 단일 구성
                .product-container 
                    .product-img-section 
                        img(src="/static/img/white.jpg")
                    .product-info-section
                        .product-name 
                            h1 
                            .product-logo
                                img(src="/static/img/logo-base-2.png")
                        .product-description 
                            .list-title
                                h1.btn-explain DESCRIPTION
                            .description
                                .product-explain 
                            .list-title
                                h1.btn-explain INGREDIENT
                            .description
                                .product-ingredient
                                    h1 열량(Kcal)
                                        .ingredient
                                    h1 당류(g) 
                                        .ingredient
                                    h1 단백질(g)
                                        .ingredient
                                    h1 포화지방(g)
                                        .ingredient
                                    h1 나트륨(g)
                                        .ingredient
                                    h1 알레르기유발
                                        .ingredient
                        .product-picker
                            .list-title
                                h1 SELECT
                            .picker-container 
                                .product-pick.pick-1.picked
                                .product-pick.pick-2
                                .product-pick.pick-3
                                .product-pick.pick-4
                                .product-pick.pick-5
                                .product-pick.pick-6
                        .price-and-quantity
                            //- .product-quantity
                            //-     input(type="number", value=1, min=100 max=9)
                            .product-price 
                                h2 ₩
                                h1.price 6000
                        .product-add-cart-btn ADD TO CART
            .product-set-container 
      
        .cart-section-container
            .cart-section-background
            .cart-section
                .cart-list-label 
                    h1 제품
                    h1 가격
                    h1 수량
                    h1 총 가격
                .cart
                    //- .column-labels
                    //-     label.product-image Image
                    //-     label.product-details Product
                    //-     label.product-price Price
                    //-     label.product-quantity Quantity
                    //-     label.product-removal Remove
                    //-     label.product-line-price Total
                    .cart-product
                        .cart-product-image
                            img(src="")
                        .cart-product-details
                            .cart-product-title 
                            //- p.cart-product-description
                        .cart-product-price 0
                        .cart-product-quantity
                            input(type="number", value="1", min="1")
                        .cart-product-line-price 0
                        .cart-product-removal
                            button.remove-product
                                i.fa-solid.fa-circle-minus
                .totals
                    .totals-item
                        label 제품 가격
                        #cart-subtotal.totals-value 0
                    //- .totals-item
                    //-     label 부가가치세 (10%)
                    //-     #cart-tax.totals-value 0
                    .totals-item.shipping
                        label 배송비
                        #cart-shipping.totals-value 0
                    .totals-item.totals-item-total
                        label 전체 가격
                        #cart-total.totals-value 0
                button.checkout 결제

        


block scripts
    script(src="/static/js/shop.js")
