extends ../layout
include ../mixins/flash-msg

block styles
    
block links
    link(rel="stylesheet", href="/static/css/store.css")

block content
    if messages.error 
        +flashMsg("error", messages.error)
    if messages.info
        +flashMsg("info", messages.info)
    if messages.success
        +flashMsg("success", messages.success)
    
    .store-section-container 
        .store-section-title
            h1 Our Offline Store
        .store-section-content
            h1 
                |제주 본점 - 제주시 강남구 논리회로 17
                br
                |현대백화점 문구점 - 서울시 농기구 활주로 165 B1
            .store-map-image 
                img(src="/static/img/tira-map-01.jpg")
                
                
            .store-section-image
                img(loading="lazy" src="/static/img/m-1.jpg")
            .store-section-image
                img(loading="lazy" src="/static/img/m-4.jpg")
            .store-section-image
                img(loading="lazy" src="/static/img/m-3.jpg")
    

block scripts
    script(src="/static/js/store.js")