extends ../layout


block links
    link(rel="stylesheet", href="/static/css/story.css")

block content
    section.story__top-section
        .top-background
            .clouds
            .logo-wrapper
                img(loading="lazy" src="/static/img/logo-base.png")
                span Different Choice for Deep Taste
    section.story__content-section(data-scroll)
        figure.content-figure
            img(loading="lazy" src="https://cdn.wallpapersafari.com/47/76/EzIvH9.jpg")
        .content
            header.content-header
                .content-subheading 
                h2.content-heading(style="color: white;")
                    | Embracing the warmth
                    br
                    | of Santorini
            p.content-paragraph
                | 테라는 키클라데스 제도 최남단에 있는 그리스 에게 해의 섬입니다. 
                br 
                | 그리스 독립 이후 세계적인 관광지 중 하나가 되었으며 지금은 산토리니라는 지명으로 유명합니다. 
                br
                | 그리스의 상징인 청색과 흰색으로 지어진, 콘크리트가 만든 인공미와 기묘하게 어우러지는 자연미가 매우 인상적인 섬입니다.
    section.story__content-section(data-scroll)
        figure.content-figure
            img(loading="lazy" src="https://img5.goodfon.com/wallpaper/nbig/f/5e/santorini-gretsiia-more-zakat.jpg")
        .content
            header.content-header
                .content-subheading Sunset Town
                h2.content-heading(style="color: #fbe4e0;")
                    | Oia Village
                   
            p.content-paragraph
                | 이 곳은 노을로 물들어 모든 이들의 로망이 깃든 언덕입니다. 골목길을 따라 오밀조밀 모여있는 신비한 풍경들과 함께 해가 지기 전 언덕의 중심인 굴라스 성체에서 오늘 하루를 아름답게 마무리 해보세요.
    section.story__content-section(data-scroll)
        figure.content-figure
            img(loading="lazy" src="https://cdn.wallpapersafari.com/6/90/jPaulk.jpg")
        .content
            header.content-header
                .content-subheading Sail all the islands
                h2.content-heading(style="color: #ffbfb8;")
                    | Fira Village
                    
            p.content-paragraph
                | 이 곳은 섬의 중심이자 절벽 위에 위치한 특별한 번화가입니다. 어떤 마을로든 이동할 수 있는 허브가 되어주며 늘 분주하고 열정적입니다. 피라 항구에서 출발하는 크루즈 투어를 통해 다채로운 추억을 만들어보세요.
    section.story__content-section(data-scroll)
        figure.content-figure
            img(loading="lazy" src="https://www.gtp.gr/MGfiles/travel/image39398[4937].jpg")
        .content
            header.content-header
                .content-subheading Traces of civilization
                h2.content-heading(style="color: #6d4747;")
                    | Akrotiri Village
                    
            p.content-paragraph
                | 이곳은 영광스러운 미노아 문명이 묻힌 슬프고 아름다운 유적지입니다. 아직 발견되지 않은 프레스코화 된 유물과 예술품들이 담겨있는 거대한 문명의 발자취에서 여러분의 기대를 충족할 거대한 향수를 경험해보세요.
    section.story__content-section(data-scroll)
        figure.content-figure
            img(loading="lazy" src="https://cdn.wallpapersafari.com/61/56/OcAsiE.jpg")
        .content
            header.content-header
                .content-subheading Quiet fairy tale town
                h2.content-heading(style="color: #c5d4ff;")
                    | Firostefani Village
               
            p.content-paragraph
                | 이 곳은 아름다운 야경을 즐기고 싶은 사람들의 특별한 아지트입니다. 이 아지트에서만 경험할 수 있는 본래의 티라미수와 함께 동화 속 구조물들을 자유롭게 거닐며 여러분의 고요한 공간을 만들어보세요.
    section.story__content-section(data-scroll)
        figure.content-figure
            img(loading="lazy" src="https://cdn.wallpapersafari.com/41/73/NMJEhT.jpg")
        .content
            header.content-header
                .content-subheading High observation deck
                h2.content-heading(style="color: #8c9dff;")
                    | Imerovigli Village
              
            p.content-paragraph
                | 이 곳은 섬의 가장 높은 곳에서 주변을 살피는 멋진 감시탑입니다. 이메로비글리에서 내려다 보는 전망에서는 서정적인 일출을 감상할 수 있습니다. 그리스 상징이 깃든 청백의 어우름으로 보존된 특별한 맛을 경험해보세요.
    section.story__content-section(data-scroll)
        figure.content-figure
            img(loading="lazy" src="https://c0.wallpaperflare.com/preview/555/727/692/greece-kamari-wine-waves.jpg")
        .content
            header.content-header
                .content-subheading Black Beach
                h2.content-heading(style="color: #7a7a96;")
                    | Kamari Village
                   
            p.content-paragraph
                | 이 곳은 블랙 비치 위 자리잡은 조용하고 아늑한 선 베드입니다. 다양한 해양스포츠와 전통음식들을 언제든지 즐길 수 있습니다. 특유의 검은 모래와 맑은 해안가의 중심에서 오늘 하루를 자유롭게 거닐어 보세요.
    
    section.story__bottom-section
        .bottom-img
            img(src="/static/img/logo-base.png")
            
   


block scripts
    script(src="/static/js/story.js")