extends ../layout

block links
    link(rel="stylesheet", href="/static/css/usermenu.css")

block content
    .usermenu-whole-container
        
        .usermenu-section-name 
            .name-msg 
                | 방문해주셔서 감사합니다
                br
                | 터치하여 성함을 입력 후 확인 버튼을 눌러주세요
            .name-input-box
                input
                .confirm-btn
                    i.fa-solid.fa-check
        .usermenu-section-open
            .open-msg
                h1.customer-name 
                br
                h1.welcome-msg <span>TIRA</span>에 방문해주셔서 감사합니다
            .open-logo
        
        .usermenu-section-header
                .header TIRAMISU
                .header-line
                    .line-dot 
                    .line-dot
                .sub-header 티라미수
                .user-purchased
                    .cake-icon 
                        i.fa-solid.fa-boxes-stacked
                    .purchased-cnt 0
        .usermenu-section-product
            .section-product-detail
                .product-detail-close-btn ×
                .product-detail-header
                    .header-eng 
                    .header-kor
                .product-detail-img 
                    img(src="")
                .product-detail-text 
                .product-detail-purchase-btn
                    .purchase-btn 주문
            .section-product-container 
                .page-chevrons-left 
                    i.fa-solid.fa-chevron-left
                .page-chevrons-right
                    i.fa-solid.fa-chevron-right

                .section-product-page-1
                    .product-row 
                        .product
                            .product-back.product-1
                            .product-img
                                img(src="/static/img/single-1.png")
                        .product-container 
                            .product-number 01.
                            .product-subheader 딸기와 치즈 티라미수
                            .product-name
                                h1.product-1 OIA
                                h1 이아
                    .product-row
                        .product-container 
                            .product-number 02.
                            .product-subheader 자몽과 망고 티라미수
                            .product-name 
                                h1.product-2 FIRA
                                h1 피라
                        .product 
                            .product-back.product-2
                            .product-img
                                img(src="/static/img/single-2.png")
                        
                    .product-row
                        .product 
                            .product-back.product-3
                            .product-img
                                img(src="/static/img/single-3.png")
                        .product-container 
                            .product-number 03.
                            .product-subheader 에스프레소와 치즈 티라미수
                            .product-name 
                                h1.product-3 AKROTIRI
                                h1 아크로티리
                .section-product-page-2
                    .product-row
                        .product 
                            .product-back.product-4
                            .product-img
                                img(src="/static/img/single-4.png")
                        .product-container 
                            .product-number 04.
                            .product-subheader 민트와 청포도 티라미수
                            .product-name
                                h1.product-4 FIROSTEFANI
                                h1 피로스테파니
                    .product-row
                        .product-container 
                            .product-number 05.
                            .product-subheader 블루베리와 치즈 티라미수
                            .product-name 
                                h1.product-5 IMEROVIGLI
                                h1 이메로비글리
                        .product 
                            .product-back.product-5
                            .product-img
                                img(src="/static/img/single-5.png")
                        
                    .product-row
                        .product 
                            .product-back.product-6
                            .product-img
                                img(src="/static/img/single-6.png")
                        .product-container 
                            .product-number 06.
                            .product-subheader 쿠키와 흑임자 티라미수
                            .product-name 
                                h1.product-6 KAMARI
                                h1 카마리
            .section-product-footer
                .logo-img 
                    img(src="/static/img/logo-base.png")
                .logo-text TIRA OFFICIAL



            

block scripts
    script(src="/static/js/usermenu.js")