extends ../layout

block links
    link(rel="stylesheet", href="/static/css/usermenu.css")

block content
    .usermenu-whole-container
        .usermenu-section-name 
            .name-msg 
                | 방문해주셔서 감사합니다
                br
                | 터치하여 성함을 입력 후 확인 버튼을 눌러주세요
            .name-input-box
                input
                .confirm-btn
                    i.fa-solid.fa-check
        .usermenu-section-open
            .open-msg
                h1.customer-name 안녕낭녕
                br
                h1.welcome-msg <span>TIRA</span>에 방문해주셔서 감사합니다
            .open-logo

        .usermenu-section-header
                .header TIRAMISU
                .header-line
                    .line-dot 
                    .line-dot
                .sub-header 티라미수
        .usermenu-section-product
            .section-product-container 
                .section-product-page-chevrons
                    .page-chevrons-left 
                        i.fa-solid.fa-chevron-left
                    .page-chevrons-right
                        i.fa-solid.fa-chevron-right
                .section-product-page-1
                    .product-row 
                        .product
                            .product-back.product-1
                            .product-img
                                img(src="/static/img/3p-1.jpeg")
                        .product-container 
                            .product-number 01.
                            .product-subheader 딸기와 치즈 티라미수
                            .product-name
                                h1.product-1 OIA
                                h1 이아
                    .product-row
                        .product-container 
                            .product-number 02.
                            .product-subheader 자몽과 망고 티라미수
                            .product-name 
                                h1.product-2 FIRA
                                h1 피라
                        .product 
                            .product-back.product-2
                            .product-img
                                img(src="/static/img/3p-1.jpeg")
                        
                    .product-row
                        .product 
                            .product-back.product-3
                            .product-img
                                img(src="/static/img/3p-1.jpeg")
                        .product-container 
                            .product-number 03.
                            .product-subheader 에스프레소와 치즈 티라미수
                            .product-name 
                                h1.product-3 AKROTIRI
                                h1 아크로티리
                .section-product-page-2
                    .product-row
                        .product 
                            .product-back.product-4
                            .product-img
                                img(src="/static/img/3p-2.jpeg")
                        .product-container 
                            .product-number 04.
                            .product-subheader 민트와 청포도 티라미수
                            .product-name
                                h1.product-4 FIROSTEFANI
                                h1 이아
                    .product-row
                        .product-container 
                            .product-number 05.
                            .product-subheader 블루베리와 치즈 티라미수
                            .product-name 
                                h1.product-5 IMEROVIGLI
                                h1 피라
                        .product 
                            .product-back.product-5
                            .product-img
                                img(src="/static/img/3p-2.jpeg")
                        
                    .product-row
                        .product 
                            .product-back.product-6
                            .product-img
                                img(src="/static/img/3p-2.jpeg")
                        .product-container 
                            .product-number 06.
                            .product-subheader 쿠키와 흑임자 티라미수
                            .product-name 
                                h1.product-6 KAMARI
                                h1 아크로티리
            .section-product-footer
                .logo-img 
                    img(src="/static/img/logo-base.png")
                .logo-text TIRA OFFICIAL



            

block scripts
    script(src="/static/js/usermenu.js")