@import "./config/_variables";
@import "./config/_reset";
@import "./components/loader";
@import "./components/nav";
@import "./components/footer.scss";

html {
  box-sizing: border-box;
  // overflow-y: scroll;
}

html,
body {
  min-height: 100vh;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  scroll-behavior: smooth;
  font-family: $tiraLightFont;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  // background: white;
  overflow: overlay;
  a {
    color: inherit;
    text-decoration: none;
  }
}

*::-webkit-scrollbar {
  width: 20px; /*너비*/
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.416);
  background-clip: padding-box;
  border: 6px solid transparent;
  border-radius: 15px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.flash-msg {
  &.flash-msg-error {
    background-color: rgb(255, 99, 91);
    color: white;
  }
  &.flash-msg-info {
    background-color: $tiraColor6;
  }
  &.flash-msg-success {
    background-color: $tiraColor5;
  }
  color: white;
  position: fixed;
  bottom: 135px;
  opacity: 0;
  right: 45px;
  margin: 0 auto;
  max-width: 300px;
  padding: 8px 20px;
  border-radius: 10000px;
  border-bottom-right-radius: 0;
  text-align: center;
  animation: goAway 4s ease-in-out forwards;
  animation-delay: 300ms;
  z-index: 999;
  font-weight: 600;
  transform: translateX(150px);
}
@keyframes goAway {
  8% {
    transform: none;
    opacity: 1;
  }
  70% {
    opacity: 1;
    transform: none;
  }
  90% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
