@import "../config/_variables.scss";

body {
  overflow-x: hidden;
}

// banner 섹션
.intro__section-banner-container {
  width: 100%;
  height: 100vh;
  color: $tiraMainWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $tiraMainWhite;
  font-family: $tiraGothicFont;
  letter-spacing: -0.02em;

  .intro__wave-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    div {
      .waves {
        position: relative;
        width: 100%;
        height: 1vh;
        margin-bottom: -7px;
        min-height: 100px;
        max-height: 150px;
      }

      .parallax > use {
        animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
      }
      .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }
      .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }
      .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
      @keyframes move-forever {
        0% {
          transform: translate3d(-90px, 0, 0);
        }
        100% {
          transform: translate3d(85px, 0, 0);
        }
      }

      @media (max-width: 768px) {
        .waves {
          height: 40px;
          min-height: 40px;
        }
      }
    }
  }

  .intro__background-wrapper {
    width: 100%;
    height: 100%;
    z-index: 0;
    * {
      position: absolute;
    }
    *:before,
    *:after {
      content: "";
      position: absolute;
    }

    .background-top {
      width: 100vw;
      background: linear-gradient(to bottom, white 0%, $tiraMainPk 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#e74d5c',
      endColorstr='#f3774d',
      GradientType=0
    );
      height: 50vh;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .background-bottom {
      width: 100vw;
      height: 51vh;
      bottom: 0;
      z-index: 2;
      overflow: hidden;
    }
    .stars {
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 100%;

      & > * {
        border-radius: 50px;
        background-color: rgba(#ffffff, 1);
        animation: starsTwinkle 5s infinite;
        transition-timing-function: ease-in-out;
      }
      @for $i from 1 through (40) {
        $top: random(400) + px;
        $left: random(100) + vw;
        $size: random(6) + 0px;
        .star:nth-of-type(#{$i}) {
          top: $top;
          left: $left;
          width: $size;
          height: $size;
          animation-delay: random(5) + s;
        }
      }
      @keyframes starsTwinkle {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .shooting-star {
      background-color: $tiraColor4;
      background: linear-gradient(to right, $tiraColor4 0%, transparent 100%);
      width: 100px;
      height: 10px;
      border-radius: 200px;
      right: 15%;
      top: 15%;
      // transform: rotate(-30deg) scale(.8);
      animation: shootingStarDrop 8s infinite;

      @keyframes shootingStarDrop {
        0% {
          transform: translate(0, 0) rotate(-30deg) scale(0.8);
          opacity: 1;
        }
        25% {
          transform: translate(-50px, 50px) rotate(-30deg) scale(0.8);
          opacity: 0;
        }
        100% {
          transform: translate(0, 0) rotate(-30deg) scale(0.8);
          opacity: 0;
        }
      }
    }

    .sun {
      width: 220px;
      height: 220px;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -70px;
      background-color: #ffb5ab;
      border-radius: 50%;
    }
    .sun-glow-1 {
      background-color: rgba($tiraColor2, 0.3);
      height: 300px;
      width: 300px;
      border-radius: 50%;
      top: -40px;
      left: -40px;
      z-index: 2;
    }
    .sun-glow-2 {
      background-color: rgba($tiraColor2, 0.2);
      height: 380px;
      width: 380px;
      border-radius: 50%;
      top: -80px;
      left: -80px;
      z-index: 1;
    }
    .sun-glow-3 {
      background-color: rgba($tiraColor2, 0.1);
      height: 460px;
      width: 460px;
      border-radius: 50%;
      top: -120px;
      left: -120px;
      z-index: -1;
    }

    .mountains {
      width: 100%;
      height: 100%;
      bottom: -1%;
      z-index: 2;
      opacity: 0.7;

      .mountain {
        clip-path: polygon(50% 0, 0% 100%, 100% 100%);
        background: linear-gradient(to bottom, white 0%, $tiraMainPk 100%);

        &:nth-of-type(1) {
          bottom: 0;
          height: 160px;
          width: 350px;
          left: -5%;
        }
        &:nth-of-type(2) {
          bottom: 0;
          height: 125px;
          width: 210px;
          left: 17%;
        }
        &:nth-of-type(3) {
          bottom: 0;
          height: 130px;
          width: 350px;
          right: -5%;
        }
        &:nth-of-type(4) {
          bottom: 0;
          height: 95px;
          width: 210px;
          right: 16%;
        }
      }
    }

    .clouds {
      width: 100%;
      height: 100%;
      animation: clouds 180s infinite linear;
      & *,
      & *:after,
      & *:before {
        border-radius: 50px;
      }

      @keyframes clouds {
        0% {
          transform: translatex(0%);
        }
        100% {
          transform: translateX(100%);
        }
      }

      .cloud {
        background-color: rgba(255, 255, 255, 0.9);
        width: 75px;
        height: 15px;
        border-radius: 50px;
        z-index: 99;

        &:nth-of-type(1) {
          top: 35%;
          left: 10%;
          &:after {
            background-color: rgba(255, 255, 255, 0.9);
            top: 150%;
            left: 10%;
            width: 40%;
            height: 100%;
          }
        }
        &:nth-of-type(2) {
          top: 25%;
          left: 50%;
          background-color: rgba(255, 255, 255, 0.9);
          &:after {
            background-color: rgba(255, 255, 255, 0.9);
            top: 0%;
            left: -40%;
            width: 25%;
            height: 100%;
          }
          &:before {
            background-color: rgba(255, 255, 255, 0.9);
            top: 175%;
            left: -15%;
            width: 75%;
            height: 100%;
          }
        }
        &:nth-of-type(3) {
          right: 10%;
          top: 40%;
          width: 50px;
          background-color: rgba(255, 255, 255, 0.9);
          &:after {
            background-color: rgba(255, 255, 255, 0.9);
            top: 0%;
            right: -50%;
            width: 30%;
            height: 100%;
          }
        }
      }
    }

    .background-bottom {
      background: linear-gradient(
        to top,
        #f6a59d 0%,
        #ffb0a9 15%,
        #ffb7b0 15%,
        #ffbeb8 29%,
        #ffc4be 29%,
        #ffcac5 43%,
        #ffcfcb 43%,
        #ffd6d2 57%,
        #ffdbd8 57%,
        #ffe3e1 71%,
        #ffebe9 71%,
        #fff1ef 85%,
        #fff7f6 85%,
        #fffcfb 100%
      );
    }
    .bottom-sun-reflection {
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 100%;
      z-index: 2;
      & > * {
        border-radius: 50px;
        height: 5%;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .reflection-shape {
        &:nth-of-type(1) {
          background-color: #ffc3bb;
          width: 35%;
        }
        &:nth-of-type(2) {
          background-color: #ffc3bb;
          width: 10%;
          top: 5%;
        }
        &:nth-of-type(3) {
          background-color: #ffd8d3;
          width: 30%;
          top: 5%;
          left: 30%;
        }
        &:nth-of-type(4) {
          background-color: #ffd8d3;
          width: 10%;
          top: 5%;
          left: -13%;
        }
        &:nth-of-type(5) {
          background-color: #ffc3bb;
          width: 40%;
          top: 10%;
        }
        &:nth-of-type(6) {
          background-color: #ffc3bb;
          width: 15%;
          top: 15%;
        }
        &:nth-of-type(7) {
          background-color: #ffe9e7;
          width: 5%;
          top: 15%;
          z-index: 2;
        }
        &:nth-of-type(8) {
          background-color: #ffe9e7;
          width: 10%;
          top: 15%;
          left: -20%;
        }
        &:nth-of-type(9) {
          background-color: #ffe9e7;
          width: 10%;
          top: 15%;
          left: 20%;
        }
        &:nth-of-type(10) {
          background-color: #ffc3bb;
          width: 20%;
          top: 20%;
        }
        &:nth-of-type(11) {
          background-color: #ffc3bb;
          width: 7%;
          top: 20%;
          left: 30%;
        }
        &:nth-of-type(12) {
          background-color: #ffc3bb;
          width: 7%;
          top: 24%;
        }
        &:nth-of-type(13) {
          background-color: #ffe9e7;
          width: 7%;
          top: 25%;
          height: 4%;
          left: -10%;
        }
        &:nth-of-type(14) {
          background-color: #ffe9e7;
          width: 7%;
          top: 25%;
          height: 4%;
          left: 10%;
        }
        &:nth-of-type(15) {
          background-color: #ffc3bb;
          width: 9%;
          top: 29%;
        }
        &:nth-of-type(16) {
          background-color: #ffc3bb;
          width: 7%;
          top: 34%;
        }
        &:nth-of-type(17) {
          background-color: #ffd1cd;
          width: 7%;
          top: 34%;
          left: -9%;
        }
        &:nth-of-type(18) {
          background-color: #ffd1cd;
          width: 7%;
          top: 34%;
          left: 9%;
        }
        &:nth-of-type(19) {
          background-color: #ffc3bb;
          width: 7%;
          top: 39%;
        }
        &:nth-of-type(20) {
          background-color: #ffc3bb;
          width: 3%;
          top: 39%;
          left: 12%;
        }
      }
    }
    .middle-sun-reflections {
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 100%;
      z-index: 1;
      & > * {
        border-radius: 50px;
        width: 25px;
        height: 15px;
        background-color: rgba(#ffbab4, 0.5);
        animation: smallSunReflections 8s infinite;
        transition-timing-function: ease-in-out;

        @keyframes smallSunReflections {
          0% {
            transform: translate(0, 0);
          }
          50% {
            transform: translate(-12px, 1px);
          }
          100% {
            transform: translate(0, 0);
          }
        }
      }
      .reflection {
        &:nth-of-type(1) {
          top: 5%;
          left: 15%;
        }
        &:nth-of-type(2) {
          top: 12%;
          left: -1%;
        }
        &:nth-of-type(3) {
          top: 20%;
          left: 25%;
        }
        &:nth-of-type(4) {
          top: 25%;
          left: 12%;
        }
        &:nth-of-type(5) {
          top: 30%;
          left: 35%;
        }
        &:nth-of-type(6) {
          top: 45%;
          left: 31%;
          background-color: rgba(#ffbab4, 0.4);
        }
        &:nth-of-type(7) {
          top: 50%;
          left: 10%;
          background-color: rgba(#ffbab4, 0.4);
        }
        &:nth-of-type(8) {
          top: 55%;
          left: 46%;
          background-color: rgba(#ffbab4, 0.3);
        }
        &:nth-of-type(9) {
          top: 65%;
          left: 38%;
          background-color: rgba(#ffbab4, 0.3);
        }
        &:nth-of-type(10) {
          top: 70%;
          left: 19%;
          background-color: rgba(#ffbab4, 0.2);
        }
        &:nth-of-type(11) {
          top: 75%;
          left: 6%;
          background-color: rgba(#ffbab4, 0.2);
        }
        &:nth-of-type(12) {
          top: 85%;
          left: 28%;
          background-color: rgba(#ffbab4, 0.1);
        }
        &:nth-of-type(13) {
          top: 90%;
          left: 40%;
          background-color: rgba(#ffbab4, 0.1);
        }
        &:nth-of-type(14) {
          top: 5%;
          right: 15%;
        }
        &:nth-of-type(15) {
          top: 10%;
          right: 7%;
        }
        &:nth-of-type(16) {
          top: 20%;
          right: 25%;
        }
        &:nth-of-type(17) {
          top: 30%;
          right: 35%;
        }
        &:nth-of-type(18) {
          top: 30%;
          right: 10%;
          background-color: rgba(#ffbab4, 0.4);
        }
        &:nth-of-type(19) {
          top: 40%;
          right: 20%;
          background-color: rgba(#ffbab4, 0.4);
        }
        &:nth-of-type(20) {
          top: 45%;
          right: 31%;
          background-color: rgba(#ffbab4, 0.3);
        }
        &:nth-of-type(21) {
          top: 50%;
          right: 10%;
          background-color: rgba(#ffbab4, 0.3);
        }
        &:nth-of-type(22) {
          top: 65%;
          right: 38%;
          background-color: rgba(#ffbab4, 0.2);
        }
        &:nth-of-type(23) {
          top: 70%;
          right: 19%;
          background-color: rgba(#ffbab4, 0.2);
        }
        &:nth-of-type(24) {
          top: 80%;
          right: 3%;
          background-color: rgba(#ffbab4, 0.1);
        }
        &:nth-of-type(25) {
          top: 90%;
          right: 40%;
          background-color: rgba(#ffbab4, 0.1);
        }
        &:nth-of-type(26) {
          top: 93%;
          right: 19%;
          background-color: rgba(#ffbab4, 0.2);
        }
      }
    }

    .boat {
      height: 150px;
      width: 120px;
      z-index: 3;

      &:nth-of-type(1) {
        left: 15%;
        top: 10%;
        animation: boat 3s infinite ease-in-out;
        @keyframes boat {
          0% {
            transform: translate(0, 0) scale(0.8);
          }
          50% {
            transform: translate(-7px, 4px) scale(0.8);
          }
          100% {
            transform: translate(0, 0) scale(0.8);
          }
        }
      }
      &:nth-of-type(2) {
        right: 15%;
        bottom: 29%;
        animation: waves 5s infinite ease-in-out;
        @keyframes waves {
          0% {
            transform: translate(0, 0);
          }
          50% {
            transform: translate(-12px, 1px);
          }
          100% {
            transform: translate(0, 0);
          }
        }
        &:after {
          transform: scaleX(-1);
          left: 13%;
          height: 100px;
          bottom: -99px;
        }
      }

      &:after {
        background-image: linear-gradient(
          to bottom,
          #ff9e95 0%,
          transparent 100%
        );
        bottom: -149px;
        width: 95%;
        height: 150px;
        left: -10%;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      }
      .boat-bottom {
        bottom: 0;
        left: 0;
        clip-path: polygon(0 70%, 100% 70%, 85% 100%, 15% 100%);
        background-color: #333d66;
        width: 100%;
        height: 100px;
        &:before {
          left: 0;
          bottom: 0;
          height: 100%;
          width: 50%;
          background-color: #7580ac;
        }
        &:after {
          background-color: #333d66;
          width: 50%;
          height: 10px;
          left: 0;
          bottom: 10px;
        }
        .squares {
          width: 100%;
          height: 8px;
          bottom: 20px;
          left: 2px;
          .square {
            background-color: $tiraColor1;
            width: 5px;
            height: 5px;
            bottom: 0px;
            &:nth-of-type(1) {
              left: 10px;
            }
            &:nth-of-type(2) {
              left: 40px;
            }
            &:nth-of-type(3) {
              left: 70px;
            }
            &:nth-of-type(4) {
              left: 100px;
            }
          }
        }
      }
      .boat-behind {
        width: 40px;
        height: 10px;
        background-color: #7580ac;
        bottom: 30px;
        left: 40px;
        &:after {
          width: 50%;
          height: 100%;
          left: 0;
          background-color: #a4afdb;
        }
      }
      .boat-top-left {
        background-color: #c8d0ff;
        clip-path: polygon(0% 100%, 50% 0%, 50% 100%);
        width: 95%;
        height: 75%;
        bottom: 37px;
      }
      .boat-top-right {
        right: 0%;
        bottom: 37px;
        width: 95%;
        height: 60%;
        background-color: #acb8ff;
        z-index: 33;
        clip-path: polygon(0% 100%, 50% 0%, 50% 100%);
        transform: scaleX(-1);
      }
    }
  }

  .intro__banner-floor-img {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;

    img:nth-of-type(1) {
      width: 27%;
      position: absolute;
      left: 623px;
      bottom: 0;
    }
    img:nth-of-type(2) {
      width: 9%;
      position: absolute;
      right: 425px;
      bottom: 0;
    }
    img:nth-of-type(3) {
      width: 9%;
      position: absolute;
      left: 403px;
      bottom: 0;
    }
  }
  .intro__section-vertical {
    width: 100%;
    height: 47%;
    z-index: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12%;

    .top-logo {
      position: absolute;
      width: 65px;
      height: 65px;
      top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .intro__section-card {
      background-color: rgb(164, 164, 164);
      width: 50%;
      height: 90%;
      overflow: hidden;
      position: relative;
      margin: 0 -10px;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 1;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 55%;
      color: $tiraMainDark;
      h1,
      p {
        transition: color 0.7s ease-in-out;
      }
      h1 {
        font-size: 1.35em;
        margin-bottom: 30px;
        font-weight: 500;
      }
      p {
        width: 100%;
        font-family: $tiraGothicFont;
        letter-spacing: -0.02em;
        line-height: 1.5em;
        font-size: $baseFontSize;
        text-align: center;
      }
    }
  }
}

// horizontal 섹션

.intro__section-horizontal-container {
  width: 400%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: $tiraMainWhitePlus;

  .intro__section {
    width: 99vw;
    height: 103.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $baseFontSize;
    text-align: center;
    color: white;
    position: relative;
    padding: 10px;
    background-color: $tiraMainWhitePlus;

    &.one {
      h2 {
        font-family: $tiraGothicFont;
        letter-spacing: -0.02em;
        line-height: 1.5em;
        width: 70%;
        margin-bottom: 35px;
        color: $tiraMainDark;
      }
      .intro__section-card {
        width: 1000px;
        height: 620px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          left: 0;
          object-fit: cover;
          position: absolute;
          z-index: 1;
        }
      }
    }
    &.two {
      flex-direction: row;
      h2 {
        position: absolute;
        text-align: center;
        width: 70%;
        top: 140px;
        color: $tiraMainDark;
        font-family: $tiraGothicFont;
        letter-spacing: -0.02em;
        line-height: 1.5em;
      }
      .intro__section-card:nth-of-type(1) {
        .card-content {
          background-color: $tiraColor1;
        }
        &:hover {
          .card-content__color-overlay {
            display: block;
            background: rgb($tiraMainDark, 0.6);
          }
        }
      }
      .intro__section-card:nth-of-type(2) {
        .card-content {
          background-color: $tiraColor2;
        }
        &:hover {
          .card-content__color-overlay {
            background: rgb($tiraMainDark, 0.6);
          }
        }
      }
      .intro__section-card:nth-of-type(3) {
        .card-content {
          background-color: $tiraColor3;
        }
        &:hover {
          .card-content__color-overlay {
            background: rgb($tiraMainDark, 0.6);
          }
        }
      }
      .intro__section-card:nth-of-type(4) {
        .card-content {
          background-color: $tiraColor4;
        }
        &:hover {
          .card-content__color-overlay {
            background: rgb($tiraMainDark, 0.6);
          }
        }
      }
      .intro__section-card:nth-of-type(5) {
        .card-content {
          background-color: $tiraColor5;
        }
        &:hover {
          .card-content__color-overlay {
            background: rgb($tiraMainDark, 0.6);
          }
        }
      }
      .intro__section-card:nth-of-type(6) {
        .card-content {
          background-color: $tiraColor6;
        }
        &:hover {
          .card-content__color-overlay {
            background: rgb($tiraMainDark, 0.6);
          }
        }
      }
      .intro__section-card {
        width: 300px;
        height: 380px;
        overflow: hidden;
        // border-radius: 15px;
        cursor: pointer;

        position: relative;
        margin: 0 10px;

        img {
          background-size: cover;
          z-index: 1;
        }
      }

      .card-content {
        max-width: 550px;
        width: 100%;
        height: 100%;
        position: absolute;

        color: #fff;
        right: 0;
        left: 0;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        transition: all 0.4s;

        .card-content__img {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;

          img {
            background-size: cover;
            width: 60%;
            object-fit: cover;
            z-index: 1;
            height: 60%;
            position: absolute;
            bottom: 30px;
          }
        }
        a {
          color: #fff;
          text-decoration: none;
          transition: all 0.2s;
        }

        &:hover {
          box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);

          .card-content__info {
            opacity: 1;
            bottom: 40px;
          }

          .card-content__title {
            margin-top: 20px;
            opacity: 0;
          }
        }

        .card-content__title {
          text-align: center;
          margin: 80px 0 0 0;
          position: absolute;
          z-index: 20;
          width: 100%;
          top: 0;
          left: 0;
          transition: all 0.6s;

          h3 {
            font-size: 1.3em;
            letter-spacing: 1px;
            font-family: $tiraHeaderFont;
            margin-bottom: 0;
            // display: inline-block;

            a {
              text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.133);
              transition: all 0.2s;
            }
          }

          h3:after {
            content: "";
            display: block;
            margin: 20px auto;
          }

          .card-content__subtitle {
            width: 200px;
            margin: 0 auto;
            color: white;
            font-family: $tiraHeaderFont;
            font-size: 0.9em;
            font-weight: 400;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.133);
            a {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .card-content__info {
          box-sizing: border-box;
          padding: 0;
          width: 100%;
          height: 300px;
          position: absolute;
          bottom: -40px;
          left: 0;
          margin: 0 auto;
          padding: 0 50px;
          font-size: 0.75em;
          line-height: 1.5em;
          z-index: 20;
          opacity: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: bottom 0.64s,
            opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);

          font-family: $tiraGothicFont;

          p {
            word-wrap: break-word;
            width: 130%;
            height: 100%;
          }
          a {
            display: block;
            width: 100px;
            background: rgb(255, 255, 255);
            color: $tiraMainDark;
            padding: 3px 10px;
            border-radius: 2px;
            font-size: 0.8em;
            position: absolute;
            bottom: 0;
            &:hover {
              background: $tiraMainDark;
              color: #fff;
              span {
                filter: brightness(10);
                opacity: 1;
              }
            }
          }
        }

        .card-content__gradient-overlay {
          background-image: linear-gradient(
            transparent 0%,
            rgba(0, 0, 0, 0.6) 21%
          );
          width: 550px;
          height: 500px;
          position: absolute;
          top: 290px;
          left: 0;
          z-index: 15;
        }
        .card-content__color-overlay {
          width: 550px;
          height: 500px;
          position: absolute;
          z-index: 10;
          top: 0;
          left: 0;
          transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
        }
      }
    }
    &.three {
      flex-direction: row;
      .section-video-wrapper {
        position: absolute;
        width: 90%;
        height: 90%;
        bottom: 7.4%;
        overflow: hidden;
      }

      .intro__section-card {
        background-color: rgba(255, 255, 255, 0.283);
        backdrop-filter: blur(3px);
        width: 65%;
        height: 16%;
        overflow: hidden;
        position: absolute;
        bottom: 12%;
        border-radius: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          position: absolute;
          z-index: 1;
        }
      }
      p {
        width: 90%;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: rgb(34, 34, 34);
        font-family: $tiraGothicFont;
        text-align: center;
        transition: color 0.5s ease-in-out;
      }
    }
  }
}

// last 섹션
.intro__section-last-container {
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $tiraMainWhitePlus;

  .intro__section-last {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

//

.mouse-scroll-icon {
  opacity: 1;
  position: absolute;

  width: 22px;
  height: 38px;
  bottom: 59px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 3.3px solid rgb($tiraMainDark, 0.9);
  animation: mouseIcon 1s;

  .scroll-dot {
    display: block;
    width: 5.2px;
    height: 6.2px;
    margin: 6px auto;
    border-radius: 4px;
    background: rgb($tiraMainDark, 0.9);
    animation: mouseScrollDot 1s infinite;
  }

  @keyframes mouseIcon {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes mouseScrollDot {
    0% {
      opacity: 1;
      transform: none;
    }
    30% {
      opacity: 1;
      transform: none;
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
}
