@import "../config/_variables.scss";

body {
  overflow-x: hidden;
}

// banner 섹션
.intro__section-banner-container {
  width: 100%;
  height: 100vh;
  // padding: 50px;
  color: $tiraMainWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $tiraMainWhite;
  font-family: "넥슨Lv2고딕 OTF", "넥슨Lv2고딕OTF", "nexon-lv2-gothic-otf";
  letter-spacing: -0.05em;

  .intro__video-wrapper {
    border-radius: 40%;
    width: 3000px;
    height: 1500px;
    background-color: #9090902b;
    position: absolute;
    top: -75%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
      bottom: 0;
      width: 70%;
    }
    video {
      position: absolute;
      bottom: 0;
      width: 70%;
    }
  }

  .intro__banner-floor-img {
    z-index: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    img {
      width: 25%;
    }
  }
  .intro__section-vertical {
    width: 55%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    position: absolute;
    top: 20%;
    .intro__section-vertical-blurfilter {
      width: 50%;
      height: 100%;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.338);
      left: 0;
      backdrop-filter: blur(4px);
      box-shadow: 0px 0px 61px 0px rgba(0, 0, 0, 0.221);
      border-radius: 20px;
      margin: 0 -10px;
    }
    .intro__section-card {
      background-color: rgb(164, 164, 164);
      width: 50%;
      height: 400px;
      // border-radius: 20px;
      overflow: hidden;
      position: relative;
      margin: 0 -10px;
      img {
        position: absolute;
        top: 20%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: flex-start;
      margin-left: 5%;
      width: 36%;
      color: $tiraMainDark; ////
      h1,
      p {
        transition: color 0.7s ease-in-out;
      }
      h1 {
        font-size: 3rem;
        margin-bottom: 40px;
      }
      p {
        width: 100%;
        font-family: $tiraGothicFont;
        font-weight: 300;
        font-size: 1.22rem;
        line-height: 32px;
        text-align: left;
      }
    }
  }
}

// horizontal 섹션

.intro__section-horizontal-container {
  width: 400%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: $tiraMainWhitePlus;

  .intro__section {
    width: 99vw;
    height: 103.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    color: white;
    position: relative;
    padding: 10px;
    background-color: $tiraMainWhitePlus;

    &.one {
      h2 {
        width: 40%;
        margin-bottom: 10px;
        line-height: 48px;
        transition: color $midColorChangeTransition;
      }
      .intro__section-card {
        background-color: rgb(110, 110, 110);
        width: 1060px;
        height: 660px;
        // border-radius: 20px;
        overflow: hidden;
        position: relative;

        img {
          position: absolute;
          top: -10%;
          left: 80%;
          transform: translate(-50%, -50%) scale(1.4) rotate(-40deg);
          z-index: 1;
        }
      }
    }
    &.two {
      flex-direction: row;
      .intro__section-card {
        width: 300px;
        height: 380px;
        overflow: hidden;
        // border-radius: 15px;
        cursor: pointer;

        position: relative;
        margin: 0 10px;

        img {
          background-size: cover;
          z-index: 1;
        }
      }

      .card-content {
        max-width: 550px;
        width: 100%;
        height: 100%;
        position: absolute;

        color: #fff;
        right: 0;
        left: 0;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        transition: all 0.4s;

        .card-content__img {
          width: 130%;
          height: 100%;
          position: absolute;
        }
        a {
          color: #fff;
          text-decoration: none;
          transition: all 0.2s;
        }

        &:hover {
          box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);

          .card-content__info {
            opacity: 1;
            bottom: 40px;

            // justify-content: space-between;
          }
          .card-content__color-overlay {
            background: rgba(255, 154, 154, 0.8);
          }
          .card-content__title {
            margin-top: 20px;
            opacity: 0;
          }
        }

        .card-content__title {
          text-align: center;
          margin: 120px 0 0 0;
          position: absolute;
          z-index: 20;
          width: 100%;
          top: 0;
          left: 0;
          transition: all 0.6s;

          h3 {
            font-size: 1.5em;
            letter-spacing: 1px;
            font-family: $tiraHeaderFont;
            margin-bottom: 0;
            display: inline-block;

            a {
              text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.133);
              transition: all 0.2s;
            }
          }

          h3:after {
            content: "";
            display: block;
            margin: 20px auto;
          }

          .card-content__subtitle {
            width: 200px;
            margin: 0 auto;
            color: rgb(255, 255, 255);
            font-family: $tiraHeaderFont;
            font-size: 0.7em;
            font-weight: 500;
            a {
              color: #ddd;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .card-content__info {
          box-sizing: border-box;
          padding: 0;
          width: 100%;
          height: 300px;
          position: absolute;
          bottom: -40px;
          left: 0;
          margin: 0 auto;
          padding: 0 50px;

          z-index: 20;
          opacity: 0;
          line-height: normal;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: bottom 0.64s,
            opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);

          font-family: $tiraGothicFont;

          p {
            word-wrap: break-word;
            width: 130%;
            height: 100%;
          }
          a {
            display: block;
            width: 100px;
            background: rgb(255, 255, 255);
            color: rgb(154, 154, 154);
            padding: 3px 10px;
            border-radius: 2px;
            font-size: 0.8em;
            position: absolute;
            bottom: 0;
            &:hover {
              background: #343434;
              color: #fff;
              span {
                filter: brightness(10);
                opacity: 1;
              }
            }
          }
        }

        .card-content__gradient-overlay {
          background-image: linear-gradient(
            transparent 0%,
            rgba(0, 0, 0, 0.6) 21%
          );
          width: 550px;
          height: 500px;
          position: absolute;
          top: 290px;
          left: 0;
          z-index: 15;
        }
        .card-content__color-overlay {
          background: rgba(94, 76, 64, 0.5);
          width: 550px;
          height: 500px;
          position: absolute;
          z-index: 10;
          top: 0;
          left: 0;
          transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
        }
      }
    }
    &.three {
      flex-direction: row;
      .intro__section-card {
        background-color: rgba(0, 0, 0, 0.321);
        backdrop-filter: blur(6px);
        width: 65%;
        height: 23%;
        overflow: hidden;
        position: absolute;
        top: 12%;
        img {
          position: absolute;
          // top: 100%;
          // left: 50%;
          // transform: translate(-50%, -50%) scale(1.2) rotate(120deg);
          z-index: 1;
        }
      }
      p {
        position: absolute;

        width: 32%;
        font-size: 1.22rem;
        line-height: 32px;
        color: white;
        transition: color 0.5s ease-in-out;
      }
    }
  }
}

// last 섹션

.intro__section-last-container {
  width: 100%;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $tiraMainWhitePlus;

  .intro__section-vertical {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
      width: 90%;
      // font-family: "Open Sans", sans-serif;
      // font-weight: 400;
      font-size: 1.6rem;
      line-height: 40px;
      color: $tiraMainDark;
      text-align: center;
      transition: all $midColorChangeTransition;
    }
  }
}

.section-video-wrapper {
  position: absolute;
  width: 90%;
  height: 90%;
  bottom: 7.4%;
  // background-color: purple;
  overflow: hidden;

  video {
    width: 100%;
  }
}
