@import "../config/_variables.scss";
@import "./register.scss";

#loginTable {
  margin-top: 0;

  .form-group-login {
    margin-top: 60px;
  }
  .form-group-social {
    a {
      display: flex;
      justify-content: center;
    }
  }
  .form-group-login,
  .form-group-social {
    display: flex;
    justify-content: center;
  }
  .form-group-login,
  .form-group-social {
    position: relative;
    margin-bottom: 16px;

    input,
    a {
      width: 100%;
      padding: 10px 0px;
      text-indent: 10px;
      outline: 0;
      border: none;
      background-color: rgb(251, 250, 255);

      font-size: 16px;
      transition: background-color 0.5s $mainTransition;
    }
    input[type="submit"],
    a {
      width: 60%;
      border-radius: 30px;
      background-color: $tiraMainDark;
      color: white;
      cursor: pointer;
      text-indent: 0;
      border: none;
      transition: all 0.5s $mainTransition;
      font-family: $tiraHeaderFont;
      font-weight: 700;
      &:hover {
        background-color: $navColor;
        color: $tiraMainDark;
      }
    }
  }

  .form-group-social {
    a {
      font-family: $tiraHeaderFont;
      background-color: black;
      color: white;
      &:hover {
        background-color: $navColor;
        color: $tiraMainDark;
      }
    }
  }
}

.alreadyExist {
  color: $tiraMainDark;
  font-size: calc($baseFontSize - 2px);
}
