@import "../config/_variables.scss";

input,
textarea {
  &::placeholder {
    font-size: calc($baseFontSize - 3px);
    color: rgba($tiraMainDark, 0.3);
  }
}
$profileListFontSize: calc($baseFontSize + 1px);

body {
  overflow-x: hidden;
  color: $tiraMainDark;
}

.profile-section-container {
  font-family: $tiraGothicFont;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;

  .profile-section {
    form {
      overflow: hidden;
      width: 1200px;
      height: 600px;
      padding: 40px 20px;
      border-radius: 20px;
      display: flex;
      box-shadow: 0 20px 45px 5px rgba($tiraMainDark, 0.1);
      justify-content: center;
      position: relative;
    }

    .profile-bar {
      position: absolute;
      width: 100%;
      height: 28px;
      text-align: center;
      top: 0px;
      background-color: $tiraMainDark;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: calc($baseFontSize - 3px);
    }
    .profile-edit-icon-wrapper {
      width: 90px;
      height: 60px;
      cursor: pointer;
      position: absolute;
      right: 27px;
      bottom: 23px;
      font-size: 24px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      button {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      i {
        transition: all 0.2s ease-in-out;
        margin: 0 10px;
        &:hover {
          font-size: 26px;
        }
      }
    }
    .profile-left-wrapper {
      width: 30%;
      height: 100%;

      .profile-image-wrapper {
        height: 55%;
        width: 100%;
        position: relative;

        img {
          border-radius: 25px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .file-select-btn {
          position: absolute;
          bottom: 20px;
          left: 20px;
          display: flex;
          width: 140px;
          align-items: center;
          i {
            color: $tiraMainDark;
            font-size: 22px;

            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: white;
            }
          }
          input[type="file"] {
            margin-left: 10px;
            background-color: white;
            padding: 3px 8px;
            border-radius: 10px;
            width: 100%;
            &::file-selector-button {
              display: none;
            }
          }
        }
      }
      .introduction-wrapper {
        width: 100%;
        height: 40%;
        margin: 20px 0;
        overflow: hidden;
        position: relative;
        h1 {
          font-family: $tiraHeaderFont;
          font-size: $profileListFontSize;
          letter-spacing: 1.5px;
          padding: 0px 5px;
          margin-bottom: 10px;
          font-weight: 600;
        }
        .hr {
          width: 100%;
          height: 2px;
          background-color: $navColor;
          margin: 15px 0 12px 0;
        }

        textarea {
          all: unset;
          resize: none;
          width: 100%;
          padding: 5px 10px;
          background-color: $lightBlue;
          height: 80%;
          line-height: 23px;
          font-size: $baseFontSize;

          word-break: break-all;
          // pointer-events: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        .hide-filter {
          background: $lightBlue;
          background: linear-gradient(
            0deg,
            rgb($lightBlue, 1) 0%,
            rgb($lightBlue, 0) 100%
          );
          width: 100%;
          height: 60px;
          position: absolute;
          bottom: -14px;
        }
      }
    }
    .profile-info-wrapper {
      width: 70%;
      height: 100%;
      .profile-info-top-wrapper {
        width: 91.5%;
        height: 100%;
        margin-left: 35px;

        .profile-info-list {
          display: flex;
          width: 100%;
          height: 60px;
          margin-bottom: 30px;
          .list-column {
            width: 50%;
            height: 100%;
            display: flex;
            // transition: all 1s ease-in-out;
            flex-direction: column;
            h1 {
              font-family: $tiraHeaderFont;
              font-size: $profileListFontSize;
              font-weight: 600;
              letter-spacing: 1.5px;
              margin-bottom: 5px;
            }
            h2 {
              input {
                all: unset;
                width: 100%;
                background-color: transparent;
                height: 100%;
              }
              display: flex;
              align-items: center;
              border-bottom: 1px solid $navColor;
              padding-left: 2px;
              overflow: hidden;
              width: 95%;
              height: 100%;
              background-color: $lightBlue;
            }
            .hr {
              width: 100%;
              height: 3.5px;
              background-color: $navColor;
              margin: 15px 0 12px 0;
            }
          }
        }
      }
    }
  }
}
