@import "../config/_variables.scss";

body {
  overflow-x: hidden;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__form-wrapper {
  width: 770px;
  height: 613px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 64px;
  background-size: cover;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //   background: rgba(0, 0, 0, 0.64);
    z-index: -1;
  }

  .register-title {
    font-family: $tiraHeaderFont;
    margin-bottom: 65px;
    color: $tiraMainDark;
    font-weight: 700;
    font-size: 40px;
  }

  .register-subtext {
    position: relative;
    background-color: white;
    padding: 0 10px;
    top: -50px;
    color: $tiraMainDark;
    font-family: $tiraGothicFont;
    font-weight: 500;
    font-size: 16px;
  }
  .table {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      text-transform: uppercase;
      cursor: pointer;

      &.active {
        border-bottom: 1.5px solid #1061ee;
      }
    }
    #signin {
      width: 55%;

      form {
        .form-group {
          position: relative;
          margin-bottom: 16px;
          label {
            display: block;
            margin: 10px 0px;
            font-size: 12px;
          }

          input {
            width: 100%;

            padding: 10px 0px;
            text-indent: 10px;
            outline: 0;
            border: none;
            background-color: $lightBlue;
            font-size: 16px;
            transition: background-color 0.5s $mainTransition;
            #pass {
              color: $tiraMainDark;
            }
            &:focus {
              background-color: $navColor;
            }
          }

          input[type="submit"] {
            width: 60%;
            border-radius: 30px;
            background-color: $tiraColor6Plus;
            margin-top: 14px;
            color: white;
            cursor: pointer;
            text-indent: 0;
            border: none;
            transition: all 0.5s $mainTransition;
            font-weight: 700;
            font-family: $tiraHeaderFont;
            &:hover {
              background-color: $tiraColor2;
              color: $tiraMainDark;
            }
          }
        }

        .form-group:last-of-type {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

#showPassword {
  position: absolute;
  top: 36px;
  right: 16px;
  cursor: pointer;
}

.alreadyExist {
  span {
    font-family: $tiraGothicFont;
    font-weight: 400;
    a {
      span {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        padding: 2px 1px;
        transition: all 0.5s $mainTransition;
        &:hover {
          border-bottom: 1px solid $tiraMainDark;
        }
      }
    }
  }
}
