@import "../config/_variables.scss";

*,
*:before,
*:after {
  position: relative;
}
body {
  overflow-x: hidden;
}
.story__top-section {
  text-align: center;
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .top-background {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    align-items: center;

    .clouds {
      position: relative;
      top: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 99vh;

      -moz-animation: move-clouds-back 200s linear infinite;
      -ms-animation: move-clouds-back 200s linear infinite;
      -o-animation: move-clouds-back 200s linear infinite;
      -webkit-animation: move-clouds-back 200s linear infinite;
      animation: move-clouds-back 200s linear infinite;
    }
    .logo-wrapper {
      width: 800px;
      height: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      bottom: 380px;
      img {
        width: 200px;
      }
      span {
        font-weight: $tiraHeaderFont;
        font-size: calc($baseFontSize + 0.8em);
        color: $tiraMainDark;
        margin: -24px;
        position: absolute;
        font-weight: 600;
        bottom: 0;
      }
    }
  }
  .top-header {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 12%;
    // bottom: 50%;
    line-height: 0px;
    filter: contrast(10);
    font-family: $tiraHeaderFont;
    font-weight: 600;

    .top-heading-1 {
      text-align: center;
      font-size: 55px;
      animation: anim 4s infinite alternate-reverse;
    }
    .top-heading-2 {
      font-size: 70px;
      animation: anim 4s infinite alternate;
    }
    .top-heading-1,
    .top-heading-2 {
      width: 100%;
      text-align: center;
      position: absolute;

      margin: 0;
      color: #141722;
      text-shadow: 4px 4px 120px rgba(256, 256, 256, 1),
        -4px -4px 120px rgba(256, 256, 256, 1),
        -4px 4px 120px rgba(256, 256, 256, 1),
        4px -4px 120px rgba(256, 256, 256, 1);
    }
  }

  @keyframes anim {
    0% {
      opacity: 0;
      filter: blur(28px);
    }
    10% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      filter: blur(2px);
    }
  }
}

.story__content-section {
  --scroll-length: 1.5;
  height: calc(var(--scroll-length) * 100vh);
  width: 100%;

  .content-header {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: normal;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 35em;
    display: grid;
    grid-template-rows: 1fr 1fr;

    padding: 2em;
    font-size: 2.5vmin;

    * {
      text-shadow: 0 0 4vmin rgba(black, 0.25);
    }

    .content-header {
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .content-heading {
        width: 1000px;
        font-size: 3em;
        margin-bottom: 20px;
        font-weight: 700;
        font-weight: $tiraHeaderFont;
      }

      .content-subheading {
        font-size: 1.25em;
        font-weight: 600;
        font-weight: $tiraHeaderFont;
        color: white;
      }
    }

    .content-paragraph {
      width: 80%;
      line-height: 1.6;
      color: white;
      font-size: calc($baseFontSize - 0.4em);
    }
    .content-subheading,
    .content-paragraph {
      opacity: 1;
      opacity: calc(1 + var(--viewport-y));
      font-family: $tiraGothicFont;
    }
  }
}

.content-figure {
  width: 100%;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  --scale: calc(0.8 + (0.2 * var(--scroll-length) * var(--visible-y)));
  position: sticky;
  display: block;
  overflow: hidden;
  will-change: transform;
  transform: scale(var(--scale));

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(black, 1);
    opacity: calc(var(--visible-y));
  }

  > img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;

    will-change: transform;
    transform: scale(calc(1 / var(--scale)));
  }
}

.char {
  display: inline-block;
  opacity: calc(1 + ((var(--viewport-y) * 1.5) - var(--char-percent)));
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
// @-webkit-keyframes move-clouds-back {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: 10000px 0;
//   }
// }
// @-moz-keyframes move-clouds-back {
//   from {
//     background-position: 0 0;
//   }
//   to {
//     background-position: 10000px 0;
//   }
// }
// @-ms-keyframes move-clouds-back {
//   from {
//     background-position: 0;
//   }
//   to {
//     background-position: 10000px 0;
//   }
// }

.story__bottom-section {
  text-align: center;
  height: 65vh;
  display: flex;
  justify-content: center;
  position: relative;
  .bottom-img {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 5%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
