@import "../config/_variables.scss";

body {
  width: 100vw;
  height: 100vh;
  main {
    width: 100%;
    height: 100%;
  }
}

.usermenu-whole-container {
  overflow: hidden;
  color: $tiraMainDark;
  width: 100%;
  height: 100%;

  font-family: $tiraGothicFont;

  position: relative;
}
.usermenu-section-name {
  overflow: hidden;
  letter-spacing: -0.2em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s $mainTransition;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .name-msg {
    font-size: calc($baseFontSize + 1em);
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.4;
  }
  .name-input-box {
    display: flex;
    width: 50%;
    height: 230px;
    flex-direction: column;
    align-items: center;
    input {
      all: unset;
      width: 30%;
      height: 70px;
      border-radius: 100px;
      background-color: $lightBlue;
      text-align: center;
      font-size: calc($baseFontSize + 1em);
      transition: all 0.3s $mainTransition;
      color: $tiraMainDark;
      margin-bottom: 30px;

      &:focus {
        width: 72%;
        color: white;
        background-color: $tiraMainDark;
      }
    }
    .confirm-btn {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background-color: $tiraMainDark;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 1.5em;
        position: relative;
        right: 1.5px;
        color: white;
      }
    }
  }
}
.usermenu-section-open {
  overflow: hidden;
  letter-spacing: -0.2em;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-color: $tiraMainDark;

  opacity: 0;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: all 1s $mainTransition;
  .open-msg {
    text-align: center;
    h1 {
      color: white;
      transition: all 0.5s $mainTransition;
      &:nth-of-type(1) {
        opacity: 0;
        font-size: calc($baseFontSize + 1em);
      }
      &:nth-of-type(2) {
        opacity: 0;
        font-size: calc($baseFontSize + 1em);
      }
    }
    .welcome-msg {
      span {
        font-family: $tiraHeaderFont;
        letter-spacing: 0.1em;
        font-weight: 700;
      }
    }
  }
}

.usermenu-section-header {
  width: 100%;
  height: 10%;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 15px;
  .header {
    font-size: 2em;
    font-weight: 800;
    font-family: $tiraHeaderFont;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    transform: translateY(-200%);
    animation: header 1s $mainTransition forwards;
    @keyframes header {
      from {
        transform: translateY(-100%);
      }
      to {
        transform: translateY(0%);
      }
    }
  }
  .header-line {
    width: 0%;
    height: 2px;
    border-radius: 10px;
    background-color: $tiraMainDark;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    animation: header-line 1s $mainTransition forwards;
    @keyframes header-line {
      from {
        width: 0%;
      }
      to {
        width: 40%;
      }
    }
    .line-dot {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $tiraMainDark;
      &:nth-of-type(1) {
        left: 0;
      }
      &:nth-of-type(2) {
        right: 0;
      }
    }
  }
  .sub-header {
    font-size: 1em;
    font-weight: 500;
    opacity: 0;
    animation: sub-header 1.5s $mainTransition forwards;
    animation-delay: 0.2s;
    @keyframes sub-header {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
.usermenu-section-product {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  flex-direction: column;

  top: 0;
  left: 0;
  z-index: 98;

  .section-product-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .section-product-page-chevrons {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      .page-chevrons-left,
      .page-chevrons-right {
        margin: 0 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $tiraMainDark;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s $mainTransition;
        &:active {
          transform: scale(1.2);
        }
        i {
          color: white;
          font-size: 1.4em;
        }
      }
      .page-chevrons-left {
        opacity: 0;
      }
    }
    .section-product-page-1,
    .section-product-page-2 {
      width: 100%;
      height: 100%;
      position: absolute;
      padding-top: 150px;
      transition: left 1s $mainTransition;
      top: 0;
      left: 0;

      .product-row {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 33.3%;
        align-items: center;
        &:nth-of-type(1) {
          .product {
            position: relative;
            left: 20px;
          }
          .product-container {
            position: relative;
            left: 40px;
          }
          .product-img {
            position: relative;
            left: 120px;
            top: 20px;
            img {
              width: 255px;
              height: 255px;
              box-shadow: -5px -5px 25px 10px rgba(rgb(81, 12, 0), 0.1);
            }
          }
        }
        &:nth-of-type(2) {
          .product {
            position: relative;
            right: 30px;
          }
          .product-container {
            position: relative;
            left: 130px;
          }
          .product-img {
            position: relative;
            left: 80px;
            top: 10px;
            img {
              width: 200px;
              height: 200px;
              box-shadow: 5px -5px 25px 10px rgba(rgb(81, 12, 0), 0.1);
            }
          }
        }
        &:nth-of-type(3) {
          .product {
            position: relative;
            left: 105px;
          }
          .product-container {
            position: relative;
            left: 90px;
          }
          .product-img {
            position: relative;
            left: 80px;
            top: -10px;
            img {
              width: 230px;
              height: 230px;
              box-shadow: 5px 10px 25px 10px rgba(rgb(81, 12, 0), 0.1);
            }
          }
        }
        .product {
          opacity: 0;
          width: 50%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          .product-img {
            width: 50%;
            height: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .product-back {
            &.product-1 {
              border-radius: 50%;
              width: 270px;
              height: 270px;
              z-index: -1;
              background-color: $tiraColor1;
            }
            &.product-2 {
              border-radius: 50%;
              width: 215px;
              height: 215px;
              z-index: -1;
              background-color: $tiraColor2;
            }
            &.product-3 {
              border-radius: 50%;
              width: 250px;
              height: 250px;
              z-index: -1;
              background-color: $tiraColor3;
            }
            &.product-4 {
              border-radius: 50%;
              width: 270px;
              height: 270px;
              z-index: -1;
              background-color: $tiraColor4;
            }
            &.product-5 {
              border-radius: 50%;
              width: 215px;
              height: 215px;

              z-index: -1;
              background-color: $tiraColor5;
            }
            &.product-6 {
              border-radius: 50%;
              width: 250px;
              height: 250px;

              z-index: -1;
              background-color: $tiraColor6;
            }
          }
        }
        .product-container {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: $tiraHeaderFont;
          opacity: 0;
          transform: translateY(-15%);
          .product-number {
            width: 85%;
            height: 15%;
            margin: 7px 0;

            display: flex;
            align-items: center;
            font-size: calc($baseFontSize + 1.3em);
            font-weight: 700;
            font-style: italic;
          }
          .product-subheader {
            width: 85%;
            height: 8%;
            margin: 5px 0;
            display: flex;
            align-items: center;
            letter-spacing: -0.03em;
            font-size: 1.2em;
            font-weight: 500;
          }
          .product-name {
            width: 85%;
            height: 10%;

            display: flex;
            flex-direction: column;
            h1 {
              width: 100%;
              height: 100%;

              &:nth-of-type(1) {
                font-size: 1.6em;
                font-weight: 700;
                letter-spacing: 0.1em;
                margin-bottom: 7.5px;
              }
              &:nth-of-type(2) {
                letter-spacing: -0.01em;
                font-size: 0.85em;
              }
            }
          }
        }
      }
    }
    .section-product-page-1,
    .section-product-page-2 {
      transition: all 1s $mainTransition;
      .product-row {
        &:nth-of-type(1) {
          .product {
            animation-delay: 1s;
          }
        }
        &:nth-of-type(2) {
          .product {
            animation-delay: 1.2s;
          }
        }
        &:nth-of-type(3) {
          .product {
            animation-delay: 1.4s;
          }
        }
        .product {
          animation: product 1s ease-in-out forwards;
          @keyframes product {
            0% {
              opacity: 0;
              transform: scale(1);
            }
            30% {
              transform: scale(1.05);
            }
            60% {
              transform: scale(0.95);
            }
            100% {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
        .product-container {
          animation: product-container 2s $mainTransition forwards;
          animation-delay: 1.5s;
          @keyframes product-container {
            0% {
              transform: translateY(-15%);

              opacity: 0;
            }
            100% {
              transform: translateY(0%);

              opacity: 1;
            }
          }
        }
      }
    }
    .section-product-page-2 {
      transition: all 1s $mainTransition;
      left: 100%;
    }
    // .section-product-page-3 {
    //   transform: translateX(200%);
    // }
  }
  .section-product-footer {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
    .logo-img {
      margin-bottom: 10px;
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }
    .logo-text {
      font-size: 0.6em;
      font-family: $tiraHeaderFont;
      letter-spacing: 0.3em;
      font-weight: 800;
    }
  }
}
