@import "../config/_variables";

.footer-section-container {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $tiraHeaderFont;
  margin-top: 60px;
  .footer-container {
    width: 100%;
    height: 100%;
    background-color: $tiraMainDark;
    padding: 3.5% 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .footer-title {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      color: white;
      position: relative;
      h1 {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: calc($baseFontSize + 1.5em);
        font-weight: 700;
        position: absolute;
        left: 0;
      }
      .contact-us {
        width: 120px;
        height: 40px;

        border-radius: 7px;
        color: white;
        border: 1px solid white;

        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s $mainTransition;
        &:hover {
          transform: scale(1.05);
          color: $tiraMainDark;
          background-color: white;
        }
      }
    }
    .footer-sub {
      width: 100%;
      height: 60px;
      align-items: center;
      display: flex;
      position: relative;

      .footer-logo-and-text {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        .footer-sub-logo {
          color: white;
          width: 20%;
          font-size: calc($baseFontSize + 0.2em);
          font-weight: 800;
          letter-spacing: $tiraLogoLetterSpace;
        }
        .footer-sub-text {
          color: rgba(white, 0.5);
          width: 80%;
        }
      }
      .footer-mail-and-social {
        width: 30%;
        height: 100%;
        display: flex;
        position: absolute;
        right: 0;
        justify-content: flex-end;
        .footer-mail {
          color: rgba(white, 0.5);
          display: flex;
          align-items: center;
          margin: 0 4%;
        }
        .footer-social {
          display: flex;
          align-items: center;
          .social-icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: rgba(white, 0.5);
            color: white;
            margin: 0 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.5s $mainTransition;
            &:hover {
              background-color: rgba(white, 1);
            }
            i {
              color: $tiraMainDark;
            }
          }
        }
      }
    }
  }
  .footer-extra-container {
    width: 100%;
    height: 60px;
  }
}
