extends layout

block links
    link(rel="stylesheet", href="/static/css/intro.css")

block content
    .intro__section-banner-container.back-color-change
        .intro__video-wrapper
            //- video(muted autoplay loop)
            //-     source(src="static/videos/intro.mp4" type="video/mp4")
            //-     strong 너의 브라우저가 비디오 태그를 지원하지 않습니다.
            img(src="/static/img/mood1.jpg")
            
        section.intro__section-vertical
            .intro__section-vertical-blurfilter
            .text.mid-colorChange
                h1 티라 산토리니
                p p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트
            .intro__section-card
                img(src="", alt="image")
        .intro__banner-floor-img
            img(src="/static/img/tira-full.png")
    .intro__section-horizontal-container.back-color-plus-change
        section.intro__section.one.back-color-plus-change
            h2.mid-colorChange h2 텍스트
            .intro__section-card
                img(src="", alt="image")
        section.intro__section.two.back-color-plus-change
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(src="")
                    .card-content__title
                        h3
                            a(href="#") OIA
                        .card-content__subtitle
                            a(href="#") Sunset Village
                    .card-content__info
                        p Lorem ipsum dolor sit amet,dddddddddddddd consecte
                        a(href="#") 자세히 보기
                    .card-content__gradient-overlay
                    .card-content__color-overlay
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(src="")
                    .card-content__title
                        h3
                            a(href="#") FIRA
                        .card-content__subtitle
                            a(href="#") Passionate Port Town
                    .card-content__info
                        p Lorem ipsum dolor sit amet,dddddddddddddd consecte
                        a(href="#") 자세히 보기
                    .card-content__gradient-overlay
                    .card-content__color-overlay
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(src="")
                    .card-content__title
                        h3
                            a(href="#") AKROTIRI
                        .card-content__subtitle
                            a(href="#") Traces of Civilization
                    .card-content__info
                        p Lorem ipsum dolor sit amet,dddddddddddddd consecte
                        a(href="#") 자세히 보기
                    .card-content__gradient-overlay
                    .card-content__color-overlay
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(src="")
                    .card-content__title
                        h3
                            a(href="#") FIROSTEFANI
                        .card-content__subtitle
                            a(href="#") Fairy tale town
                    .card-content__info
                        p Lorem ipsum dolor sit amet,dddddddddddddd consecte
                        a(href="#") 자세히 보기
                    .card-content__gradient-overlay
                    .card-content__color-overlay
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(src="")
                    .card-content__title
                        h3
                            a(href="#") IMEROVIGLI
                        .card-content__subtitle
                            a(href="#") Tallest watchtower
                    .card-content__info
                        p Lorem ipsum dolor sit amet,dddddddddddddd consecte
                        a(href="#") 자세히 보기
                    .card-content__gradient-overlay
                    .card-content__color-overlay
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(src="")
                    .card-content__title
                        h3
                            a(href="#") KAMARI
                        .card-content__subtitle
                            a(href="#") Cozy black beach
                    .card-content__info
                        p Lorem ipsum dolor sit amet,dddddddddddddd consecte
                        a(href="#") 자세히 보기
                    .card-content__gradient-overlay
                    .card-content__color-overlay
        section.intro__section.three.back-color-plus-change
            .intro__section-card
                img(src="", alt="image")
            p.mid-colorChange 3panel 텍스트
    .intro__section-last-container.back-color-change
        section.intro__section-vertical
            p.mid-colorChange last p 텍스트


block scripts
    script(src="/static/js/intro.js")