extends layout
include ./mixins/flash-msg

block styles
    style(type="text/css").
        
block links
    link(rel="stylesheet", href="/static/css/intro.css")

block content
    .intro__section-banner-container
        .intro__background-wrapper
            .background-top
                .stars
                    - for (var i = 1; i <= 30; i++)
                        .star
                .shooting-star
                .clouds
                    .cloud
                    .cloud
                    .cloud
                .sun
                    .sun-glow-1
                    .sun-glow-2
                    .sun-glow-3
                .mountains
                    - for (var i = 1; i <= 4; i++)
                        .mountain
            .background-bottom
                .boat
                    .boat-bottom
                        .squares
                            - for (var i = 1; i <= 4; i++)
                                .square
                    .boat-behind
                    .boat-top-left
                    .boat-top-right
                .boat
                    .boat-bottom
                        .squares
                            - for (var i = 1; i <= 4; i++)
                                .square
                    .boat-behind
                    .boat-top-left
                    .boat-top-right
                .bottom-sun-reflection
                    - for (var i = 1; i <= 20; i++)
                        .reflection-shape
                .middle-sun-reflections
                    - for (var i = 1; i <= 26; i++)
                        .reflection
           
        section.intro__section-vertical
            .top-logo 
                img(loading="lazy" src="/static/img/logo-base.png")
            .text
                h1 Different Choice for Deep Taste
                p
                    | 티라는 그리스 산토리니 섬의 마을들을 배경으로 제작된 티라미수 디저트 브랜드입니다. 
                    br
                    | 산토리니를 바라볼 수 있는 티라의 특별한 디저트로 이전까지 없었던 새로운 경험을 선물합니다.
                    br
                    br
                    | 티라의 제품은 모든 제조과정이 수제로 이루어지는 프리미엄 핸드메이드 디저트로
                    br
                    | 늘 정성을 다해 만드는 신선하고 깨끗한 티라미수입니다.
                .mouse-scroll-icon
                    .scroll-dot
        .intro__wave-wrapper
            div
                svg.waves(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 24 150 28", preserveAspectRatio="none", shape-rendering="auto")
                    defs
                        path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                    g.parallax
                        use(xlink:href="#gentle-wave", x="48", y="0", fill="rgba(255,255,255,0.6")
                        use(xlink:href="#gentle-wave", x="48", y="3", fill="rgba(255,255,255,0.4)")
                        use(xlink:href="#gentle-wave", x="48", y="5", fill="rgba(255,255,255,0.2)")
                        use(xlink:href="#gentle-wave", x="48", y="7", fill="#fff")
                               

    .intro__section-horizontal-container
        section.intro__section.one
            h2
                .one-head 새롭게 선보이는 산토리니 디저트
                | 티라(TIRA)는 그리스 테라(Thira, Santorini) 섬에 있는 여섯 마을을 디자인 컨셉트로 설정하여 만들어진 티라미수 전문 디저트 브랜드입니다.
                br
                | 산토리니 여러 마을의 분위기와, 지형, 색상, 지명 등의 특징들을 반영해 최고의 셰프의 손에서 탄생한 여섯가지 티라미수를 선보입니다.

            .intro__section-card
                img(loading="lazy" src="/static/img/w-3.jpeg", alt="image")
        section.intro__section.two
            h2 
                
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(loading="lazy" src="/static/img/tira-logo-noline.png", alt="image")
                    .card-content__title
                        h3
                            a(href="#") OIA
                        .card-content__subtitle
                            a(href="#") Sunset Village
                    .card-content__info
                        p 
                            | 이 곳은 노을로 물들어 모든 이들의 로망이 깃든 언덕입니다
                            br 
                            br
                            | 골목길을 따라 오밀조밀 모여있는 신비한 풍경들과 함께 해가 지기 전 언덕의 중심인 굴라스 성체에서 오늘 하루를 아름답게 마무리 해보세요
                        a(href="/story") 자세히 보기
                    .card-content__color-overlay
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(loading="lazy" src="/static/img/tira-logo-noline.png", alt="image")
                    .card-content__title
                        h3
                            a(href="#") FIRA
                        .card-content__subtitle
                            a(href="#") Passionate Port Town
                    .card-content__info
                        p 
                            | 이 곳은 섬의 중심이자 절벽 위에 위치한 특별한 번화가입니다
                            br 
                            br
                            | 어떤 마을로든 이동할 수 있는 허브가 되어주며 늘 분주하고 열정적입니다. 피라 항구에서 출발하는 크루즈 투어를 통해 다채로운 추억을 만들어보세요
                        a(href="/story") 자세히 보기
                    //- .card-content__gradient-overlay
                    .card-content__color-overlay
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(loading="lazy" src="/static/img/tira-logo-noline.png", alt="image")
                    .card-content__title
                        h3
                            a(href="#") AKROTIRI
                        .card-content__subtitle
                            a(href="#") Traces of Civilization
                    .card-content__info
                        p 
                            | 이곳은 영광스러운 미노아 문명이 묻힌 슬프고 아름다운 유적지입니다
                            br 
                            br
                            | 발견되지 않은 프레스코 유물과 예술품들이 담겨있는 거대한 문명의 발자취에서 기대를 충족할 거대한 향수를 경험해보세요
                        a(href="/story") 자세히 보기
                    //- .card-content__gradient-overlay
                    .card-content__color-overlay
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(loading="lazy" src="/static/img/tira-logo-noline.png", alt="image")
                    .card-content__title
                        h3
                            a(href="#") FIROSTEFANI
                        .card-content__subtitle
                            a(href="#") Fairy tale town
                    .card-content__info
                        p 
                            | 이 곳은 아름다운 야경을 즐기고 싶은 사람들의 특별한 아지트입니다
                            br 
                            br
                            | 이 아지트에서만 경험할 수 있는 특별한 분위기 속에서 동화 속 구조물들을 자유롭게 거닐며 여러분의 고요한 공간을 만들어보세요
                        a(href="/story") 자세히 보기
                    //- .card-content__gradient-overlay
                    .card-content__color-overlay
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(loading="lazy" src="/static/img/tira-logo-noline.png", alt="image")
                    .card-content__title
                        h3
                            a(href="#") IMEROVIGLI
                        .card-content__subtitle
                            a(href="#") Tallest watchtower
                    .card-content__info
                        p 
                            | 이 곳은 섬의 가장 높은 곳에서 주변을 살피는 멋진 감시탑입니다
                            br 
                            br
                            | 이메로비글리에서 내려다 보는 전망에서는 서정적인 일출을 감상할 수 있습니다. 그리스 상징이 깃든 청백의 어우름으로 보존된 특별한 맛을 경험해보세요
                        a(href="/story") 자세히 보기
                    //- .card-content__gradient-overlay
                    .card-content__color-overlay
            .intro__section-card
                .card-content
                    .card-content__img 
                        img(loading="lazy" src="/static/img/tira-logo-noline.png", alt="image")
                    .card-content__title
                        h3
                            a(href="#") KAMARI
                        .card-content__subtitle
                            a(href="#") Cozy black beach
                    .card-content__info
                        p 
                            | 이 곳은 블랙 비치 위 자리잡은 조용하고 아늑한 선 베드입니다
                            br 
                            br
                            | 다양한 해양스포츠와 전통음식들을 언제든지 즐길 수 있습니다 특유의 검은 모래와 맑은 해안가의 중심에서 오늘 하루를 자유롭게 거닐어 보세요
                        a(href="/story") 자세히 보기
                    .card-content__color-overlay
        section.intro__section.three
            .section-video-wrapper
                img(loading="lazy" src="/static/img/w-2.jpeg", alt="image")

            .intro__section-card
                a.shop-link-btn(href="/shop") 구매하기
                p
                    | 티라에서 선보이는 티라미수는 정통 마스카포네 치즈의 부드러움과 직접 로스팅하여 블렌딩한 에스프레소 코코아파우더의 조화, 홈메이드 방식의 제조를 통해 최고의 맛을 내고 있습니다. 
                    br
                    br
                    | 티라만의 레시피로 특별하게 배합된 마스카포네 치즈와 크림치즈로 24시간 이상의 숙성을 통해 더욱 진한 크림을 맛보실 수 있으며, 원두의 초이스부터 로스팅 블렌딩, 에스프레소 추출까지 직접 관리하여 만듭니다.

block scripts
    script(src="/static/js/intro.js")