extends layout

block links
    link(rel="stylesheet", href="/static/css/intro.css")

block content
    .intro__section-banner-container.back-color-change
        section.intro__section-vertical
            .text.mid-colorChange
                h1 h1텍스트h1텍스트h1텍스트h1텍스트
                p p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트p텍스트
            .intro__section-card
                img(src="", alt="image")
        .intro__banner-floor-img
            img(src="/static/img/tira-full.png")
    .intro__section-horizontal-container.back-color-plus-change
        section.intro__section.one.back-color-plus-change
            h2.mid-colorChange h2 텍스트
            .intro__section-card
                img(src="", alt="image")
        section.intro__section.two.back-color-plus-change
            .intro__section-card
                img(src="https://c4.wallpaperflare.com/wallpaper/784/17/298/sunset-in-santorini-island-in-greece-aegean-sea-ultra-hd-wallpapers-for-desktop-3840%C3%972400-wallpaper-preview.jpg", alt="image")
                p
                    | p1텍스트
            .intro__section-card
                img(src="https://c4.wallpaperflare.com/wallpaper/771/336/14/sea-the-sky-clouds-landscape-wallpaper-preview.jpg", alt="image")
                p
                    | p2텍스트
            .intro__section-card
                img(src="", alt="image")
                p
                    | p3텍스트
            .intro__section-card
                img(src="", alt="image")
                p
                    | p4 텍스트
            .intro__section-card
                img(src="", alt="image")
                p 
                    | p5 텍스트
            .intro__section-card
                img(src="", alt="image")
                p
                    | p6 텍스트
        section.intro__section.three.back-color-plus-change
            .intro__section-card
                img(src="", alt="image")
            p.mid-colorChange 3panel 텍스트
    .intro__section-last-container.back-color-change
        section.intro__section-vertical
            p.mid-colorChange last p 텍스트


block scripts
    script(src="/static/js/intro.js")