include mixins/flash-msg

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
        
        head
            include baseLinks
            block links
            block styles
        title #{pageTitle} | #{brandName}
    body
        .not-supported
            h1 모바일 디바이스 환경은 개발중입니다.<br>1320px 이상의 PC환경에서 접속해주세요.<hr>-TIRA-
        include partials/loader
        include partials/nav
       
        if messages.error 
            +flashMsg("error", messages.error)
        if messages.info
            +flashMsg("info", messages.info)
        if messages.success
            +flashMsg("success", messages.success)
        main 
            
            block content
        
        include partials/footer
        include baseScripts
        
    block scripts