include mixins/flash-msg

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        head
            include baseLinks
            block links
            block styles
        title #{pageTitle} | #{brandName}
    body
        //- .not-supported
        //-     h1 Tablet 아래의 기기에서는 아직 지원되지 않습니다 ㅠㅠ<br>-티라-
        include partials/loader
        include partials/nav
       
        if messages.error 
            +flashMsg("error", messages.error)
        if messages.info
            +flashMsg("info", messages.info)
        if messages.success
            +flashMsg("success", messages.success)
        main 
            
            block content
        
        include partials/footer
        include baseScripts
        
    block scripts