extends layout
include mixins/countrySpecificInfo

block links
    link(rel="stylesheet", href="/static/css/main.css")

block content
    div
        

block scripts
    script(src="/static/js/main.js")