extends layout
include ./mixins/flash-msg

block styles
    
block links
    link(rel="stylesheet", href="/static/css/test.css")

block content
    if messages.error 
        +flashMsg("error", messages.error)
    if messages.info
        +flashMsg("info", messages.info)
    if messages.success
        +flashMsg("success", messages.success)
    

block scripts
    script(src="/static/js/test.js")