//- footer.footer
//-     .footer-left.col-md-4.col-sm-6
//-         p.about
//-             span  
//-                 | TIRA 티라미수 공식 웹 서비스입니다.
//-         .icons
//-             a(href="https://github.com/yjglab" target="_blank")
//-                 i.fa-brands.fa-github
//-             a(href="https://yjg-lab.tistory.com/" target="_blank")
//-                 i.fa-solid.fa-t
//-     .footer-center.col-md-4.col-sm-6
//-         div
//-             i.fa.fa-map-marker
//-             p
//-                 span  
//-                     | 한국
                    
//-         div
//-             i.fa-solid.fa-phone
//-             p 010-1234-5678
//-         div
//-             i.fa.fa-envelope
//-             p
//-                 a(href="#") yjglab@gmail.com
//-     .footer-right.col-md-4.col-sm-6
//-         h2 TIRA
//-             span  SANTORINI
//-         p.menu
//-             //- a(href="#") 
//-         p.name ⓒ #{new Date().getFullYear()} yjglab