.footer-section-container
    .footer-container 
        .footer-title 
            h1 Different Choice for Deep Taste
            .contact-us Contact Us
        .footer-sub
            .footer-logo-and-text
                .footer-sub-logo TIRA
                .footer-sub-text TIRA company
            
            .footer-mail-and-social 
                .footer-mail yjgdesign@gmail.com
                .footer-social
                    a(href="https://yjg-lab.tistory.com/" target="blank")
                        .social-icon
                            i.fa-solid.fa-t
                    a(href="https://github.com/yjglab" target="blank")
                        .social-icon
                            i.fa-brands.fa-github
                    a(href="https://mail.google.com/" target="blank")
                        .social-icon
                            i.fa-brands.fa-google
                    
    //- .footer-extra-container
    //-     h1 2022 yjglab