//- #loader
//-     svg.spinner(width="65px", height="65px", viewBox="0 0 66 66", xmlns="http://www.w3.org/2000/svg")
//-         circle.path(fill="none", stroke-width="6", stroke-linecap="round", cx="33", cy="33", r="30")
#loader
    .loader-container
        .loader-wrapper
            .loader
                .loader-faces
                    .loader-face.shadow
                        img(src="/static/img/logo-base.png")
                    .loader-face.bottom
                    .loader-face.top
                    .loader-face.left
                    .loader-face.right
                    .loader-face.back
                    .loader-face.front
                        