.nav
    .nav-item(style="--bgColorItem: white")
        h3.nav-title STORY
    .nav-item(style="--bgColorItem: white")
        h3.nav-title SHOP
    .nav-item.nav-item-mid.active(style="--bgColorItem: white")
        h3.nav-title.nav-title-mid TIRA
    .nav-item(style="--bgColorItem: white")
        h3.nav-title STORE
    .nav-item.log(style="--bgColorItem: white")
        if loggedIn
            h3.nav-title LOGOUT
        else
            h3.nav-title LOGIN
  

if loggedIn
    .user
        a(href=`/users/${loggedInUser._id}/profile`)
            if loggedInUser.socialOnly
                img(src=loggedInUser.avatarUrl)
            else
                img(src="../../" + loggedInUser.avatarUrl)
else    
    .user 
        a(href="/login")
            img(src="/static/img/profile-base-dk.png")
        