.nav
    .nav-item(style="--bgColorItem: #FFDCD7;")
        h3.nav-title STORY
    .nav-item(style="--bgColorItem: #FFA69F;")
        h3.nav-title SINGLE
    .nav-item(style="--bgColorItem: #FFCCA6;")
        h3.nav-title SET
    .nav-item.active(style="--bgColorItem: rgb(255, 248, 248);")
        h3.nav-title.nav-title-mid TIRA
    .nav-item(style="--bgColorItem: #BBCEFF;")
        h3.nav-title REVIEW
    .nav-item(style="--bgColorItem: #8AA0FF;")
        h3.nav-title PROFILE
    .nav-item(style="--bgColorItem: #6A6A82;")
        h3.nav-title REGISTER
    .nav-border
        .svg-container
            svg(viewBox="0 0 202.9 45.5")
                clippath#navClipPath(clipPathUnits="objectBoundingBox", transform="scale(0.0049285362247413 0.021978021978022)")
                    path(d=`M6.7,45.5c5.7,0.1,14.1-0.4,23.3-4c5.7-2.3,9.9-5,18.1-10.5c10.7-7.1,11.8-9.2,20.6-14.3c5-2.9,9.2-5.2,15.2-7
            c7.1-2.1,13.3-2.3,17.6-2.1c4.2-0.2,10.5,0.1,17.6,2.1c6.1,1.8,10.2,4.1,15.2,7c8.8,5,9.9,7.1,20.6,14.3c8.3,5.5,12.4,8.2,18.1,10.5
            c9.2,3.6,17.6,4.2,23.3,4H6.7z`)